C# - Project - Finance Scraper
Your main task as an intermediate student is to build a basic web scraper and get it hosted online. The process includes the following items for the local scraper:

Selenium / XPath / HTML Agility Pack / Entity Framework / ADO.Net / Dapper.net
You are going to create two versions of your scraper. One that uses Selenium (based on yahoo finance) and another using HTML Agility Pack. They should exist (be accessible) on the same website (menu or links, etc).

***** Additional Information to be used along with the ATTACHED web scraping resources file *****
The following link contains great information that will help you learn about scraping. Please be sure to review the document:
Link 1: General Overview - https://www.codeproject.com/Articles/1041115/Webscraping-with-Csharp
Link 2: Selenium - https://mydataprovider.com/csharp
--- Create a stock portfolio with at least 10 stocks using yahoo finance ::::: https://help.yahoo.com/kb/SLN4249.html
Link 3: HTML Agility Pack - https://www.loginworks.com/blogs/scrap-website-using-html-agility-pack-part-1
--- Create a stock portfolio with at least 10 stocks using yahoo finance ::::: 
https://support.google.com/websearch/answer/7579076?hl=en
---- Example: https://stackoverflow.com/questions/10959219/scraping-html-from-financial-statements?rq=1


****** ******
Once the local scraper is created you will need to get the system online and hosted somewhere. Some recommendations include Linode.com which can give you a Virtual Linux Server. Or investigating an AWS implementation as this is a very popular hosting service in the field. Being successful on either of these will benefit you.

What the scraper must do:
- Allow the user to create a new account on your website. User SHOULD NOT be able to scrape without creating a new account with a password on your site.
- For Selenium, In the background, your scraper will log into yahoo finance using login credentials.
- For HAP (html agility pack), your scraper DOES NOT HAVE TO log into google finance using login credentials. However, if you want to attempt that, give this document a read: https://stackoverflow.com/questions/13568933/login-to-website-using-htmlagilitypack
- Scrape financial data from the logged in side.
- Process and store the data in a SQL database
- Allow logged in users to trigger and view a new scrape (real time snapshot) or view previous scrapes (snapshots).
Thanks

